<div>
  <h4>F1 - Vettel critical of Kvyat's driving</h4>
  <p style="color: rgba(0,0,0,0.35);"> By Shyam Sankaran</p>
    <p style="font-size:1.2em"> In what was building up to become an intense battle between Ferrai and Mercedes, turned into an
    anti climactic race as Daniil Kvyat's 'suicidal' lunge, according to Vettel, into the inside of Turn 1 caused the two
    Ferrari's collide with each other.</p>
    <p style="font-size:1.2em"> Kvyat had an excellent getaway as he lined up behind the Ferrai of Vettel albeit not having enough room
    to pass. Vettel, meanwhile did not have the best of starts, but saw an opening when Raikkonen ran slighly wide approaching Turn one.
    In an effort to cover his Ferrai teammate, he moved left leaving inside line open, which was enough for Kvyat to pounce on. Vettel,
    therefore was sandwiched between his old team and current team, and in trying to avoid contact with the Red bull, crashed into the Finn,
   taking him out. </p>
    <p style="font-size:1.2em"> Vettel, clearly unhappy, and perhaps feeling some guilt with the President watching from the garage, blamed
    Kvyat on the radio, for driving like a mad man. Although he recovered to finish 2nd, in front of Kvyat, he was still not a happy man.
     A fiery conversation ensued between the two in the cooling room after the race as Vettel was seen chastizing his Red bull successor. </p>

        <p style="font-size:1.2em"> It is hard to contemplate Vettel, considered to be one of the most ruthless drivers in the paddock,
          not going for the move if the roles were reversed. After all, these are the twenty two fastest drivers in the world.
        </p>
        <p> </p>
        <div class="row">
          <div class=" col-md-4"></div>
            <div class="col-md-3">
        <button class="btn btn-primary" data-toggle="modal" data-target="#dbateModal">Let's Debate</button>
      </div>
      </div>
        <div class="modal fade " tabindex="-1" role="dialog" id="dbateModal">
          <div class="modal-dialog" style="height: 100%; ">
            <div class="modal-content no-margin" style="height: 98%">
              <div class="modal-header no-margin">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" style="color: black">Vettel critical of Kvyat's driving</h5>
              </div>
              <div class="modal-body no-margin" style="height: 86%; padding: 10px 0px 10px 10px">
                <!-- <iframe src="http://naarud.com/vs?publisher=5701a15b3c9185064c800747" style="width: 100%;
            height: 100% ; border:none" class="no-margin no-pad">
                </iframe> -->
                <iframe src="http://localhost:4000/vs?publisher=56ecdf6d8f9bfe19c4440578" style="width: 100%;
            height: 100% ; border:none" class="no-margin no-pad">
                </iframe>

              </div>

            </div>
          </div>
        </div>
</div>
