<div class="">
<div class="row">
  <img style="width: 100%; height: 100%" src="images/dbate_demo.gif" alt="...">
</div>

<div class="row">
  <ul class="dbate-txt">
    <li> A new, innovative way of Commenting</li><br>
    <li> Better engagement like a debate</li><br>
    <li> Smarter Data on reader's perpsepctive which provides better analytics</li><br>
    <li> Mobile first design. Works seemlessly on all form factors from PC to Mobile</li><br>
    <li> Plug and play. Easy to integrate</li><br>
  </ul>
</div>

</div>
